<% @title = "Jonathan Weyermann's Contact Information" %>
<h2>Contact Information</h2>
<p><strong>Email: </strong>weyermannx@gmail.com</p>
<p><strong>LinkedIn: </strong><a href="https://ca.linkedin.com/pub/jonathan-weyermann/86/53b/b6b">ca.linkedin.com/pub/jonathan-weyermann</a></p>
<p><strong>Facebook: </strong><a href="https://www.facebook.com/jonathan.weyermann">facebook.com/jonathan.weyermann</a><p>
